@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;

}
.clear {
    clear: both;
    width: 0;
    height: 0;
    font: 0 Arial;
    line-height: 0;
}


a:visited {
    border-color: red;
    text-decoration: none;
}
hr{
    border: 0;
    height: 1px;
    background: #ccc;
  }
.jh-container {
  margin: 0 auto;
  width:1200px;
}
.best-program {
	
	
}
.programlist{
	width:1200px;
  overflow: hidden;
}

li {
  list-style: none;
}

ul li div {
  float: left;

  width: 33%;
}
ul li div img {
  margin-top:  40px;
}

.program-header {
  font-weight: bold;
  color: #1B3453;
  margin-top: 30px;
  font-size: 25px;
}

/* 페이지 링크 시작*/
.btnPagelink{
  margin-top:50px;
  text-align: center;

}
.LF_page_link_current { /*현재페이지*/
    color: #f00 !important;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    font-size: 20px;
      font-weight: bold;
      line-height: 22px;
      text-decoration: none;

      vertical-align: middle;
      margin: 0 2px;
      padding: 0 5px;
}
.LF_page_link {  /*다른페이지*/
    color: #777 !important;
    font-size: 20px;
      font-weight: bold;
      line-height: 22px;
      text-decoration: none;

      vertical-align: middle;
      margin: 8px 2px;
      padding: 0 5px;
}
/* 페이지 링크 끝*/
