@charset "UTF-8";

textarea {
	width: 594px;
	resize: vertical;
	overflow-x: hidden;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

li input {
	box-sizing: border-box;
	border: 1px solid #d7d7d7;
	border-radius: 2px;
	padding: 5px;
	height: 35px;
	font-size: 15px;
}

select {
	box-sizing: border-box;
	border: 1px solid #d7d7d7;
	border-radius: 2px;
	padding: 5px;
	height: 35px;
	font-size: 15px;
}

.sm-mypage-body {
	box-sizing: border-box;
	min-height: 700px;
	margin-bottom: 100px;
}

.sm-mypage-body  div {
	display: inline-box;
	box-sizing: border-box;
}

/* 프로젝트 등록 서브 메뉴 */
#next2 {
	border-left: none;
}

#next3 {
	border-left: none;
}

/* 프로젝트 등록 본문 */
.uploadContent {
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	margin-top: 25px;
}

.uploadContent ul {
	margin: 25px;
	padding: 0;
}

.uploadContent li {
	width: 790px;
	clear: both;
	display: inline-block;
	box-sizing: border-box;
	border-bottom: 1px dashed #d7d7d7;
	padding: 15px 0 20px 0;
	overflow: hidden;
}

#notPadding {
	padding-top: 0;
}

.contentName {
	display: inline-block;
	width: 170px;
	font-size: 17px;
	font-weight: bold;
	float: left;
}

.ucContet {
	float: left;
	overflow: hidden;
	width: 600px;
	display: inline-block;
}

/* 프로그램 재등록 */
#reProgram {
	padding-top: 0;
	display: none;
}

.reProgram {
    width: 400px !important;
    height: 35px;
    box-sizing: border-box;
}

/* 챌린지 주제, 종목 */
.ucChallenge select, .ucProgram select {
	width: 200px;
}

.selectTab1:hover {
	background: #cde4f7;
	border: 1px solid #41c9ff;
}

.selectTab1 option {
	background: #fff;
}

/* 챌린지 날짜 */
.challengeDate input {
	width: 180px;
}

.fontStyle1 {
	display: inline-block;
	margin: 0 10px;
}

/* 챌린지 프로그램 */
.programTurnName {
	float: left;
	margin-right: 25px;
}

.challengeProgram {
	float: left;
}

.challengeProgram input {
	width: 350px;
}

/* 챌린지 인원 */
.minNum, .maxNum {
	float: left;
	width: 138px;
}

.ucNum h5, .ucTarget h5, .ucposition h5, .programTurnName h5,
	.challengeProgram h5 {
	padding: 0;
	margin: 0;
	margin-bottom: 8px;
}

.ucNum input {
	width: 90px;
}

/* 금액 */
.ucpMoney h5 {
	margin: 0;
	margin-bottom: 12px;
}

.moneyBox {
	display: inline-block;
	width: 600px;
}

.moneyName2 {
	float: left;
	margin-bottom: 10px;
}

.marginBox {
	margin-right: 20px;
	width: 100%;
	box-sizing: border-box;
}

.moneyList {
	float: left;
	border-bottom: 1px solid #eae8e8;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
}

.moneyContent {
	background: #fafafa;
	width: 600px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #eae8e8;
	border-bottom: none;
}

.moneyPlus {
	border: 1px solid #d7d7d7;
	float: left;
	width: 600px;
	box-sizing: border-box;
	margin-top: 10px;
	height: 42px;
}

.moneyPlus a {
	display: inherit;
	text-align: center;
	padding-top: 13px;
	font-size: 14px;
	font-weight: bold;
	height: 29px;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.moneyName2 {
	position: relative;
}

.moneyName2 .fas {
	float: right;
}

/* 챌린지 메인 이미지 등록 */
#ad-images-div {
	padding: 10px;
	min-height: 200px;
	max-height: 300px;
	border: 1px solid gray;
	border-radius: 5px;
	display: flex;
}

.filebox2 label {
	box-sizing: border-box;
	display: inline-block;
	padding: .5em .75em;
	width: 66px;
	height: 34px;
	background: #fafafa;
	font-size: 15px;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	margin-bottom: 7px;
}

.filebox2 input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

#ad-images-div {
	padding: 10px;
	min-height: 200px;
	max-height: 300px;
	border: 1px solid #b7aeae;
	border-radius: 2px;
	display: flex;
}

.ad-adImgs-wrapper {
	position: relative;
}

.ad-adImgs-content {
	width: 150px;
	height: 150px;
	margin: 5px;
	border-radius: 5px;
}

.ad-adImgs-cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 150px;
	margin: 5px;
	background: black url("../../img/trainer/Grey_close_x.png");
	background-size: 100px;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 5px;
	opacity: 0.7;
	display: none;
}

.ad-adImgs {
	width: 150px;
}

.ad-adImgs-wrapper:hover .ad-adImgs-cover {
	display: block;
}

/* 챌린지 목표 */
.targetName {
	float: left;
	margin-right: 25px;
}

.targetNum {
	float: left;
	margin-right: 35px;
}

.targetName select, .ucpSelectBox select {
	width: 150px;
}

.targetNumInput, .targetNumSelect {
	float: left;
}

.targetNumInput input {
	width: 85px;
}

.targetNumSelect select {
	margin-left: 5px;
}

/* 장소 */
.positionBox {
	display: inline-block;
	width: 650px;
}

.positionName1 {
	float: left;
	margin-right: 20px;
}

.positionName2 {
	float: left;
}

.positionList {
	position: relative;
	float: left;
	border-bottom: 1px solid #eae8e8;
	padding: 20px;
	width: 600px;
	box-sizing: border-box;
}

.positionList input {
	margin: 0 3px 7px 0;
}

.ucpInputBox input {
	width: 420px;
}

.positionContent {
	background: #fafafa;
	display: inline-block;
	border: 1px solid #eae8e8;
	border-bottom: none;
	width: 600px;
	box-sizing: border-box;
}

#more {
	display: none;
	cursor: pointer;
}

#lessBtn {
	position: absolute;
	display: inline-block;
	right: -143px;
	top: -77px;
}

/* 가능일 */
.scheduleBox {
	height: 500px;
	overflow: auto;
}

.schedule-rows td {
	width: 61px;
	height: 20px;
	margin: 3px;
	padding: 5px;
	cursor: pointer;
	border: 1px solid #c1c1c1;
}

.schedule-rows td:first-child {
	padding: 0;
	border: none;
	vertical-align: top;
}

.schedule-header th {
	text-align: center;
}

.schedule-rows td[data-selected], .schedule-rows td[data-selecting] {
	background-color: #a3b1f1;
}

.schedule-rows td[data-disabled] {
	opacity: 0.2;
}

#lastBottom {
	border-bottom: none;
}

/* 다음단계 버튼 */
.nextBox {
	float: right;
	margin-top: 20px;
}

.nextBox button {
	background: #DD1F26;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 13px;
	width: 180px;
	cursor: pointer;
}

.nextBox a {
	color: white;
	text-decoration: none;
}

/* 바디에 있는 탭 메뉴 (트레이너:회원,수익관리/회원:알림,내가쓴글) 
*/
.sm-tab {
  width: 882px;
  margin: 0 auto;
  margin-left: 0;
  border-bottom: 1px solid gray;
  overflow: hidden;
  transition: border 250ms ease;
}


.sm-tab-down {
  height: 250px;
  width:105%;
  float: left;
  align: center;
  overflow: auto;
}

.sm-alam {
padding: 20px;
    background-color: rgba(158, 158, 158, 0.1);
    border: 1px solid white;
    width: 817px;
    border-radius: 3.25em;
    margin: 0px 0px 10px 0px;
}
.sm-alam strong {
    color:gray
}
.sm-alam i {
    padding:0px 10px;
    color: gray;
}
.sm-alam span {
  font-weight:800;
}
.closebtn {
    margin-left: 15px;
    color: gray;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.sm-tab button {
  display: block;
  float: left;
  padding: 10px 24px;
  background-color: #FFF;
  margin-right: 46px;
  z-index: 0;
  position: relative;
  cursor: pointer;
  color: #777;
  border: none;
  text-transform: uppercase;
  font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;
  transition: all 250ms ease;
  left: 36px;
}

.sm-tab button:nth-child(2) {
	z-index: 1;
}

.sm-tab button:hover {background-color: #1B3453; color:white; transition: 0.3;}

.sm-tab button:before, .sm-tab button:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 44px;
  background-color: #FFF;
  transition: all 250ms ease;
}

.sm-tab button:before {
  right: -24px;
  transform: skew(30deg, 0deg);
  box-shadow: rgba(0, 0, 0, .1) 3px 2px 5px, inset
    rgba(255, 255, 255, .09) -1px 0;
}

.sm-tab button:after {
  left: -24px;
  transform: skew(-30deg, 0deg);
  box-shadow: rgba(0, 0, 0, .1) -3px 2px 5px, inset
    rgba(255, 255, 255, .09) 1px 0;
}

b {
  font-weight:800;
}
.sm-tab button:hover, .sm-tab button:hover:before, .sm-tab button:hover:after
  {
  background-color: #F4F7F9;
  color: #444;
}

.sm-tab button.active {
  z-index: 2;
}

.sm-tab button.active, .sm-tab button.active:before, .sm-tab button.active:after
  {
  background-color: #1B3453;
  color: #fff;
}

.sm-tabcontent {
    overflow: hidden;
    padding: 10px;
    text-align: left;
    border:none;
    float: left;
    width: 98%;
    text-align: center;
    margin-bottom: 30px;
    display: none;
}
.sm-tabcontent.sm-current {display: inline;}
.sm-tabcontent {
  padding:10px;
  text-align: left;
}



/* 프로젝트 설명 */
.ucContet textarea {
	
}

/* 상세 이미지 등록 */
#bottomNone {
	border-bottom: none;
}

#subImgMain, .subImg {
	border: 1px solid #eae8e8;
	width: 250px;
	height: 200px;
	background: #fafafa;
	text-align: center;
	margin-bottom: 10px;
}

#subImgMain .far, .subImg .far {
	font-size: 60px;
	color: #bbbbbb;
}

#subImgMain .imgIcon {
	margin-top: 68px;
}

.subImg .plusImg {
	float: right;
	margin: 8px 7px;
}

.subImg .imgIcon {
	margin-top: 65px;
}

.subImg {
	display: none;
}

.mediaPlus {
	text-align: center;
	width: 250px;
	border: 1px solid #d7d7d7;
	margin-top: 10px;
	height: 42px;
}

.mediaPlus a {
	display: inherit;
	text-align: center;
	padding-top: 13px;
	font-size: 14px;
	font-weight: bold;
	height: 29px;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/*


































*/