.container {
	position: relative;
}

.trBody {
	min-height: 400px;
}

.tr1 {
	width: 100%;
	box-sizing: border-box;
	background-color: #1B3453;
	height: 300px;
	margin-bottom: 60px;
	text-align: center;
	padding: 50px;
	color: #FFFFFF;
}

.tr1-img {
	font-size: 100px;
	margin-bottom: 10px;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.tr-name {
	margin-bottom: 10px;
}

.tr1-co-center {
	box-sizing: border-box;
	text-align: center;
}

.tr1:after {
	content: "";
	display: table;
	clear: both;
}

.line-table {
	top: -90px;
	position: absolute;
	height: 55px;
	width: 100%;
	display: table;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.line-20 {
	vertical-align: middle;
	padding: 10px;
	display: table-cell;
	text-align: center;
	border-right: 1px solid #eeeeee;
	width: 20vw;
	background-color: #ffffff;
}

.tr-arrow-main {
	position: relative;
	background-color: #eeeeee;
}

.tr-arrow {
	width: 20px;
	height: 20px;
	transform: rotate(-135deg);
	position: absolute;
	top: -9px;
	left: 50%;
	margin-left: -9px;
	background-color: #eeeeee;
}

.tr-left {
	box-sizing: border-box;
	padding-right: 20px;
	float: left;
	width: 75%;
}

.tr2-pro {
	width: 820px;
	margin-left: 30px;
}

.tr2-pro .card {
	margin: 5px 10px 32px 5px;
}

.tr2-pro .slick-prev:before, .slick-next:before {
	color: black;
}

.tr-right {
	box-sizing: border-box;
	float: right;
	width: 25%;
	padding-left: 10px;
	border-left: 1px solid #eeeeee;
}

.tr-title {
	margin-bottom: 15px;
	padding-bottom: 5px;
    border-bottom: solid #666666 1px;
    display: inline-block;
}

.tr3-evaluation {
	width: 100%;
	overflow: hidden;
	margin-bottom: 70px;
}

.tr3-left {
	float: left;
	width: 15%;
	text-align: center;
}

.tr3-right {
	float: right;
	width: 85%;
}

.commentImg {
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	background-color: #e6e6e6;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	width: 75px;
	height: 75px;
	margin: 0;
	margin-left: 12px;
	overflow: hidden;
}

.commentImg img {
	width: 100%;
}

.tr3-right div {
	margin-bottom: 7px;
}

#tr-plus-btn {
	cursor: pointer;
}

.tr4 {
	float: right;
	width: 100%;
}

.tr4-intro {
	padding: 0 10px 45px 10px;
}

.tr4-career {
	padding: 0 10px 20px 10px;
}

.tr-plus {
	border: 1px solid #eeeeee;
	padding: 10px;
	width: 100% height: 50px;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}

.fa-user-circle {
	font-size: 70px;
}

.fa-user-plus {
	font-size: 30px;
	margin-bottom: 10px;
}

.fa-envelope {
	font-size: 30px;
	margin-bottom: 10px;
}

.tr3-li {
	display: none;
	overflow: hidden;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;
	border-collapse: collapse;
}

.tr3-li.active {
	display: block;
}

.tr3-ul {
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

.inline-block {
	display: inline-block;
}

* {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

ul {
	list-style: none;
}

.messageBtn {
	cursor: pointer;
}

span.star-prototype, span.star-prototype>* {
	height: 16px;
	background: url(../../img/program/star.png) 0 -16px repeat-x;
	width: 80px;
	display: inline-block;
}

span.star-prototype>* {
	background-position: 0 0;
	max-width: 80px;
}

span.star-prototype2, span.star-prototype2>* {
	height: 16px;
	background: url(../../img/program/star.png) 0 -16px repeat-x;
	width: 80px;
	display: inline-block;
}

span.star-prototype2>* {
	background-position: 0 0;
	max-width: 80px;
}