@charset "UTF-8";

.sm-mypage-body {
  box-sizing: border-box;
  margin-bottom: 100px;
}

/* 프로젝트 선택 서브메뉴*/
.tabbed {
  max-width: 880px;
  margin: 0 auto;
  margin-left: 0;
  border-bottom: 4px solid #1B3453;
  overflow: hidden;
  transition: border 250ms ease;
}
.tabbed ul {
  overflow: hidden;
  float: left;
  list-style-type: none;
  padding-left: 35px;
  margin: 0;
}
.tabbed ul * {
  margin: 0px;
  padding: 0px;
}
.tabbed ul li {
  display: block;
  float: right;
  padding: 10px 24px 8px;
  background-color: #FFF;
  margin-right: 46px;
  z-index: 2;
  position: relative;
  cursor: pointer;
  color: #777;

  text-transform: uppercase;
  font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;

  transition: all 250ms ease;
}
.tabbed ul li:before,
.tabbed ul li:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 44px;
  background-color: #FFF;
  transition: all 250ms ease;
}
.tabbed ul li:before {
  right: -24px;
  transform: skew(30deg, 0deg);
  box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;
}
.tabbed ul li:after {
  left: -24px;
  transform: skew(-30deg, 0deg);
  box-shadow: rgba(0,0,0,.1) -3px 2px 5px, inset rgba(255,255,255,.09) 1px 0;
}
.tabbed ul li:hover,
.tabbed ul li:hover:before,
.tabbed ul li:hover:after {
  background-color: #F4F7F9;
  color: #444;
}
.tabbed ul li.active {
  z-index: 3;
}
.tabbed ul li.active,
.tabbed ul li.active:before,
.tabbed ul li.active:after {
  background-color: #1B3453;
  color: #fff;
}

.arrow .fas {
  color: #1B3453;
  font-size: 22px;
}

.arrow {
  margin-top: 5px;
  height: 22px;
}
.arrowLeft {
  float: left;
}

.arrowRight {
  float: right;
}


/* 통계 본문 */
.manageContent {
  margin-top: 25px;
  clear: both;
}

/* 날짜별 검색 */
.memberName {
  height: 40px;
}

.dateInput {
  margin-bottom: 15px;
  text-align: center;
}
.dateInput input {
  border:1px solid #d7d7d7;
  width: 220px;
  padding: 5px;
  color: gray;
  border-radius: 5px;
}

.dateInput button {
  height: 30px;
  width: 60px;
  background: #2d5586;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

/* 회원관리 테이블 */
.demo-table {
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
}
.demo-table th,
.demo-table td {
  border: 1px solid #e1edff;
}
.demo-table .title {
  caption-side: bottom;
  margin-top: 12px;
}

/* Table Header */
.demo-table thead th {
  background-color: #2d5586;
  color: #FFFFFF;
  border-color: #6ea1cc !important;
  text-transform: uppercase;
}

/* Table Body */
.demo-table tbody td {
  color: #353535;
}

.demo-table tbody tr:nth-child(odd) td {
  background-color: #f4fbff;
}
.demo-table tbody tr:hover td {
  background-color: #ffffa2;
  border-color: #ffff0f;
  transition: all .2s;
}

.demo-table td, .demo-table th {
  padding: 13px 45px;
}

/* 회원관리 넘기는 탭 */
.pagination {
  height: 35px;
  padding: 0 30%;
  margin-bottom: 30px;
  margin-top: 25px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.pageActive {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.pageActive) {background-color: #ddd;}







































/*


































*/
