@charset "UTF-8";

/* * {
    box-sizing: border-box;
}
 */
body {
    font-family: 'NanumSquareRound',sans-serif !important;
    /* text-align: center; */
    font-size: 18px;
    color:#666666;
    
}

form.memberform, form.trainerform {
      /* border: solid red; */
    /*  margin: 50px;
     padding: 50px; */
     /* border: solid red; */
     /* border: solid hidden; */
     padding: 0 100px;
     margin-top: 80px;
  
}

legend {
    color:#1B3453;
    font-size: 25px;
    font-weight: bold;
}

fieldset {
    /* background: #EEEEEE; */
    border: none;
    border-radius: 10px;
    margin:30px 100px;
    
    
    padding: 15px 0px 30px 0px; 
    
} 

 
 .button1, .button2 {
    background-color: #DD1F26;
    border: none;   
    color: #FFFFFF;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   /* /*  margin: 10px 10px; */
    cursor: pointer;
    border-radius: 6px;
    width: 130px;
    margin-right: 40px;
} 
.file {
    border: 1px solid #EEEEEE;
    /* border: none; */
    background: #FFFFFF;
    border-radius: 4px;
    width:215px;
    margin: 5px 5px;
    padding: 0px;
}
input.name, .email, .password, .phone{
    
    margin: 5px 5px;
    padding: 8px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    resize: vertical;
    width: 200px;
    /* color: #eee; */
    /* opacity: 0.8; */
    color:#666666;
}

::-webkit-input-placeholder{
    opacity: 0.3;
    }

 .txtar {
    margin: 5px 5px;
    padding: 8px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    resize: vertical;
    resize: none;
    color:#666666;
}

.agree {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    cursor: pointer;
     font-size: 14px;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 7px;
}

/* Hide the browser's default checkbox */
.agree input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -3px;
    left: 5px;
    height: 15px;
    width: 15px;
   /*  background-color: #ffffff; */
   /*  border:0.3px solid black; */
   border: 2px solid #EEEEEE;
}

/* On mouse-over, add a grey background color */
/* .agree:hover input ~ .checkmark {
    background-color: #ccc;
}
 */
/* When the checkbox is checked, add a blue background */
.agree input:checked ~ .checkmark {
    background-color: #DD1F26;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: " ";
    position: absolute;
   display: none;
}

/* Show the checkmark when checked */
.agree input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.agree .checkmark:after {
    top: 0px;
     left: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);*
}



.gen {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    cursor: pointer;
   /*  font-size: 20px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* padding-bottom: 0px; */
    padding-top: 3px;
}

/* Hide the browser's default radio button */
.gen input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.gcheckmark {
    position: absolute;
    top: 2px;
    left: 8px;
    height: 16px;
    width: 16px;
    /* background-color: #ffffff; */
    border-radius: 50%;
    border: 2px solid #eeeeee;
}

/* On mouse-over, add a grey background color */
/* .gen:hover input ~ .gcheckmark {
    background-color: #ccc; red;
} */

/* When the radio button is checked, add a blue background */
.gen input:checked ~ .gcheckmark {
    background-color: #DD1F26;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.gcheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.gen input:checked ~ .gcheckmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.gen .gcheckmark:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

#footer {
    /* border:solid red; */
   bottom: 0;
    position: fixed;
    width: 100%;
}