@charset "UTF-8";

/* 바디에 있는 탭 메뉴 (트레이너:회원,수익관리/회원:알림,내가쓴글) */
.graphBox {
  width: 85%;
  margin-left: 5%;
  margin-top: 20px;
  height: 500px;
}

.sm-tab {
  width: 882px;
  margin: 0 auto;
  margin-left: 0;
  border-bottom: 4px solid #1B3453;
  overflow: hidden;
  transition: border 250ms ease;
}


.sm-tab-down {
  width:105%;
  float: left;
  align: center;
  overflow: auto;
}

.sm-alam {
padding: 20px;
    background-color: rgba(158, 158, 158, 0.1);
    border: 1px solid white;
    width: 817px;
    border-radius: 3.25em;
    margin: 0px 0px 10px 0px;
}
.sm-alam strong {
    color:gray
}
.sm-alam i {
    padding:0px 10px;
    color: gray;
}
.sm-alam span {
  font-weight:800;
}
.closebtn {
    margin-left: 15px;
    color: gray;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.sm-tab button {
  display: block;
  float: left;
  padding: 10px 24px;
  background-color: #FFF;
  margin-right: 46px;
  z-index: 0;
  position: relative;
  cursor: pointer;
  color: #777;
  border: none;
  text-transform: uppercase;
  font: 600 13px/20px roboto, "Open Sans", Helvetica, sans-serif;
  transition: all 250ms ease;
  left: 36px;
}

.sm-tab button:hover {background-color: #1B3453; color:white; transition: 0.3;}

.sm-tab button:before, .sm-tab button:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 44px;
  background-color: #FFF;
  transition: all 250ms ease;
}

.sm-tab button:before {
  right: -24px;
  transform: skew(30deg, 0deg);
  box-shadow: rgba(0, 0, 0, .1) 3px 2px 5px, inset
    rgba(255, 255, 255, .09) -1px 0;
}

.sm-tab button:after {
  left: -24px;
  transform: skew(-30deg, 0deg);
  box-shadow: rgba(0, 0, 0, .1) -3px 2px 5px, inset
    rgba(255, 255, 255, .09) 1px 0;
}

b {
  font-weight:800;
}
.sm-tab button:hover, .sm-tab button:hover:before, .sm-tab button:hover:after
  {
  background-color: #F4F7F9;
  color: #444;
}

.sm-tab button.active {
  z-index: 1;
}

.sm-tab button.active, .sm-tab button.active:before, .sm-tab button.active:after
  {
  background-color: #1B3453;
  color: #fff;
}

.sm-tabcontent {
    overflow: hidden;
    padding: 10px;
    text-align: left;
    border:none;
    float: left;
    width: 98%;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}
.sm-tabcontent.sm-current {display: inline;}
.sm-tabcontent {
  padding:10px;
  text-align: left;
}

/* bodyInfo 관련 */
#bodyInfo {
	float: left;
	margin-left: 5%;
	width: 105%;
	margin-bottom: 70px;
}

.bodyinfoBox {
	float: left;
	font-weight: bold;
	width: 50%;
	margin-bottom: 20px;
}

label {
	width: 70px;
	display: inline-block;
}

.bodyinfoClassBox {
	width: 200px;
	padding: 5px;
}

.nextBox {
	float: right;
	margin-right: 19%;
}

#updBtn {
  padding: 6px 25px;
  font-weight: bold;
  border: 1px solid #DD1F26;
  border-radius: 5px;
  background-color: #DD1F26;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

