@charset "UTF-8";

.sm-mypage-body {
  box-sizing: border-box;
  margin-bottom: 100px;
}

.uploadSubMenu ul li {
  float: left;
  margin: 0 25px;
}

#uploadSubMenu-fist {
  margin-left: 0;
}

/* 프로젝트 등록 본문 */
.uploadContent {
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  margin: 25px 0;
}

.uploadContent ul {
  margin: 25px;
  padding: 0;
}

.uploadContent li {
  clear: both;
  display: inline-block;
  box-sizing: border-box;
  border-bottom: 1px dashed #d7d7d7;
  padding: 15px 0 20px 0;
}

#notPadding {
  padding-top: 0;
}

.contentName {
  width: 170px;
  font-size: 17px;
  font-weight: bold;
  float: left;
}

.ucContet {
  float: left;
  width: 658px;
}

#aTitle {
	width: 550px; 
}

#content {
	width: 550px;
}
.nextBox button {
    background: #DD1F26;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 13px;
    width: 180px;
    cursor: pointer;
	float: right;
}

.uploadContent li:last-child {
	border: none;
}

#fileupload {
	display: none;
}
.uploadpreview label {
	background: #e0e0e0;
	border-radius: 3px;
	    padding: 10px;
}
















































*/
