   /* 추가 요소 */

section {
	/* border: solid red; */
	text-align: center;
	color: #1B3453;
	/* font-weight: bold; */
	font-size: 20px;	
}

*{
	box-sizing: border-box;
}

.project, #program {
	margin-bottom: 30px;
} 

#program {
	text-align: left;
	margin-left: 20px;
}

table td {
	width:150px;
	color:#ffffff;
	/* border-bottom: dashed purple; */
}

.tb-background {
	background: #EEEEEE;
	z-index: 1px;
	height: 400px;
	color:#1B3453;
}

.maintxt {
	background: #EEEEEE;
	height: 300px;
}

.maintxt > div {
	/* border: solid red; */
	display: inline-block;
	padding: 20px;
	margin: 30px;
	color:#666666;
	align: left;
}

.maintxt img {
	align:center;
	width: 80px;
	height: 50px;
}



.category {
	padding-top: 20px;
}

/* .aaa {
	background-image: url("https://img.grouponcdn.com/getaways/8YKyCkk4ES1vkUkagX7AXr/1889074_8_y-500x302/v1/t550x332.jpg");
	padding:50px;
	text-align:left;
	color: white;
	cursor:pointer;
	font-weight:bold;
	border: solid red;
	background-size: 500px 300px;
	width: 100%;
height: 200px;
	
} */

 ::selection {/*  color:#1B3453;  */background:#DD1F26; }
::-moz-selection { color:#1B3453; background:#DD1F26; } /* firefox */
