.als-container {
	position: relative;
	width: 100%;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	height: 300px;
	width: 700px;
	margin: 0px auto;
	padding: 5px;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	/* text-align: center; */
	cursor: pointer;
	float: left;
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}


#lista1 .als-item {
	margin: 0px 30px;
	min-height: 152px;
	min-width: 128px;
}

#lista1 .als-item {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 8px;
}

#lista1 .als-prev, #lista1 .als-next {
	top: 140px;
	width: 15px;
	height: 22px;
}

#lista1 .als-prev {
	left: 20px;
}

#lista1 .als-next {
	right: 30px;
}
