@charset "UTF-8";
.container {
  position: relative;
}

.tr1 {
  width: 100%;
  box-sizing: border-box;
  background-color: #1B3453;
  height: 300px;
  margin-bottom: 60px;
  text-align: center;
  padding: 50px;
  color: #FFFFFF;
}

#tr-img {
  font-size: 100px;
  margin-bottom: 10px;
  background-image: url('../../img/program/man.jpg');
  background-size: 100px 100%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.tr-table {
  display: inline-block;
  width: 500px;
}

.tr-name {
  margin-bottom: 10px;
}

.tr1-co-left {
  box-sizing: border-box;
  padding-top: 60px;
  float: left;
  text-align: right;
  width: 25%;
  height: 100%;
}

.tr1-co-center {
  box-sizing: border-box;
  float: left;
  text-align: center;
  width: 50%;
  height: 100%;
}

.tr1-co-right {
  box-sizing: border-box;
  padding-top: 60px;
  float: left;
  text-align: left;
  width: 25%;
  height: 100%;
}

.tr1:after {
  content: "";
  display: table;
  clear: both;
}

.line-table {
  top: -90px;
  position: absolute;
  height: 55px;
  width: 100%;
  display: table;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.line-20 {
  vertical-align: middle;
  padding: 10px;
  display: table-cell;
  text-align: center;
  border-right: 1px solid #eeeeee;
  width: 20vw;
  background-color: #ffffff;
}

.tr-arrow-main {
  position: relative;
  background-color: #eeeeee;
}

.tr-arrow {
  width: 20px;
  height: 20px;
  transform: rotate(-135deg);
  position: absolute;
  top: -9px;
  left: 50%;
  margin-left: -9px;
  background-color: #eeeeee;
}

.tr-left {
  box-sizing: border-box;
  padding-right: 20px;
  float: left;
  width: 75%;
}

.tr2-pro {
  margin-bottom: 40px;
}

.tr2-program {
  box-sizing: border-box;
  margin-right: 20px;
}

.tr-right {
  box-sizing: border-box;
  float: right;
  width: 25%;
  border-left: 1px solid #eeeeee;
}

.tr-title {
  margin-bottom: 30px;
}

.tr3-evaluation {
  width: 100%;
  overflow: hidden;
}

.tr3-left {
  float: left;
  width: 15%;
  text-align: center;
}

.tr3-right {
  float: right;
  width: 85%;
}

.tr4 {
  float: right;
  width: 100%;
}

.tr4-intro {
  padding: 0 10px 20px 10px;
}

.tr-plus {
  border: 1px solid #eeeeee;
  padding: 10px;
  width: 100% height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.fa-user-circle {
  font-size: 70px;
}

.fa-user-plus {
  font-size: 30px;
  margin-bottom: 10px;
}

.fa-envelope {
  font-size: 30px;
  margin-bottom: 10px;
}

.tr3-li {
  display: none;
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  border-collapse: collapse;
}
.tr3-li.active {
  display: block;
}
.tr3-ul {
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.inline-block {
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

ul {
  list-style: none;
}
