/*명예의 전당 페이지 : class 이름 앞에 hf- 붙이기*/
 @charset "UTF-8";


* {
  box-sizing: border-box;
  
}

.jumbotron-heading {
  font-size: 25px;
  font-weight: bold;
  color: #1B3453;

}

.all-form {
  display: inline-block;
}

main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}



.board-form{
  padding:2rem 2rem 0 0; background-color:white;

 }

.jh-album { /*사이드바 왼쪽 */
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width:900px;
    float:left;
}


/* 페이지 링크 시작*/
.btnPagelink{
  text-align: center;

}
.LF_page_link_current { /*현재페이지*/
    color: #f00 !important;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    font-size: 20px;
      font-weight: bold;
      line-height: 22px;
      text-decoration: none;

      vertical-align: middle;
      margin: 0 2px;
      padding: 0 5px;
}
.LF_page_link {  /*다른페이지*/
    color: #777 !important;
    font-size: 20px;
      font-weight: bold;
      line-height: 22px;
      text-decoration: none;

      vertical-align: middle;
      margin: 0 2px;
      padding: 0 5px;
}
/* 페이지 링크 끝*/

/* 사이드바 컨텐츠 메뉴 css 시작지점*/
.hf-sidebar { /* 사이드바 전체*/
  width:300px;
  height: 1200px;
  float: right;
  padding: 10px;
  overflow: hidden;
}
.notice-table {
  border: solid 1px rgb(166, 166, 164);
  margin-top:20px;
  padding: 5px 10px 10px 10px;
}
.rank-list {
  border: solid 1px rgb(166, 166, 164);
  padding: 5px 10px 10px 10px;
}
#notice-table {
  width:100%;
  border-spacing:0;
  padding:0;
}
.jh-allview {
  position: absolute;
  top: 195px;
  right: 50px;
}
#notice-table > tbody > tr > td {
  height:30px;
  border-bottom:1px dashed #eee;
}
#notice-table > tbody > tr > td > span {
  color: #666; font-size: 13px; letter-spacing: -0.5px; line-height: 1.4;
}
/* 사이드바 컨텐츠 메뉴 css 끝지점*/
