*	{
	/* do: inherit; */
}
a {
	 text-decoration: none;
	 color: inherit;
}

div p {
	margin:0px;
	
}
.card {
	height: 200px;
	width: 500px;
	display: inline-block;
	box-sizing: border-box;
	/* margin-top: 30px;
	margin-left: 30px;
	margin-bottom : 30px; */
	/* position: relative; */
	border-radius: 5px;
}

.card-header {
	width: 200px;
	height: 100%;
	background-size: 200px 100%;
	background-repeat: no-repeat;
	border-radius: 5px 0 0 5px;
	float: left;
	position: relative;
}

.card-img {
    width: 200px;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  /* background: #79A70A; */
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.card-trainer {
	position: absolute;
	top: 137px; right: 0px;
	height: 60px; width: 60px;
	border: 1px solid #eeeeee;
	border-radius: 50%;
}
.trainer-img {
    width: 100%;
    height: 60px;
    border-radius: 50%;
}

.card-body {
	box-sizing: border-box;
	height: 100%;
	width: 300px;
	padding: 10px;
	line-height: 22px;
	border: 1px solid #eeeeee;
	float: right;
	border-radius: 0 5px 5px 0;
	position: relative;
}
.card-body-title {
	font-weight: 700;
	font-size: 1.2em;
	margin-right: 5px;
}
.card-body-local {margin-right: 10px;}
.card-body-numger {}
.card-body-score {color: gold; line-height: 27px;}
.card-footer {
	float: right;
	width: 270px;
	box-sizing: border-box;
	padding-top: 5px;
	border-top: 1px solid #eeeeee;
	height: 40px;
	position: absolute;
	bottom: 0;
}
.table-set {
	display: table-cell;
	width: 50%;
}

.card-footer-review {
}
.card-footer-date {
}
.card:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
