body {
  margin: 0;
}
/*푸터 CSS 시작*/

#foot_layout {
  width: 100%;
  background-color: #1B3453;
  text-align: center;
  /* padding: 60px 20px 30px 20px; */
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.foot_wrap {
  width: 1200px;
  text-align: left;
  padding: 10px 170px 10px 170px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.foot_utile_wrap {
  width: 100%;
  padding: 0;
  /* margin-bottom: 20px; */
  display: inline-block;
  box-sizing: border-box;
}

.foot_link {
  display: inline-block;
  padding-left: 0;
  margin: 10px 0px;
}

.foot_link li {
  margin-right: 30px;
  display: inline-block;
  float: left;
}

.foot_link li a {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #ffff;
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
}

.foot_wrap address {
  width: 100%;
  font-weight: 100;
  font-size: 12px;
  font-style: normal;
  color: #EBEDF3;
  line-height: 20px;
  /* padding: 2px 0; */
  display: inline-block;
}

#foot-logo-img {
  height: 41px;
}

.copy {
  font-size: 10px;
  margin: 2px 0;
  color: #fff;
}

/*푸터 CSS 종료*/
