@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
#container {
	width : 1200px;
	margin: 0 auto;
}

.header {
	width: 100%;
    background-color: #333;
    padding: 0px;
    height: 60px;
}
.header div {
	margin: 0 auto;
	padding: 0px;
	width: 1200px;
	height: 60px;
}

.header div h1 {
	display: inline-block;
	float: left;
	margin: 12.5px 0 0 0;
	color: white;
}

.search {
	display: inline-block;
	float: left;
	margin: 18px 0px 0px 15px;
	padding: 0;
	width: 300px;
	height: 40px;
}

.search > input {
	height: 21px;
	width: 200px;
	margin: 0;
	display: block;
	float:left
}

.search button {
	padding: 0;
	margin: 0;
	height :32px;
	width : 33px;
	float: left;
	background-color: #333;
	border: none;
}

.searchBtn {
	margin: 0;
	height :33px;
	width : 33px;
	display: block;
}

.header div ul {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: left;
    display: inline-block;
    float: right;
}


.header div ul li {
    float: left;
}

.header div ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header div li a:hover {
    background-color: #111;
}

.subject {
	margin-top: 50px;
	margin-bottom: 10px;
}

.challengeName {
	margin: 0 0 0 5px;
}

.challengeSub {
	width: 657px;
	padding: 0px;
	font-weight: bold;
}
.challengeSub p:nth-child(1) {
	display: inline-block;
	margin: 25px 0 0 5px;
	color: #e74c3c;
}

.challengeSub p:nth-child(2) {
	display: inline-block;
	margin: 25px 0 0 0;
}

.challengeSub p:nth-child(3) {
	display: inline-block;
	float: right;
	margin: 25px 5px 0 0;
}

.column {
	width: 661px;
	height: 2100px;
	margin-right: 82px;
	display: inline-block;
	float: left;
}

.middle { /*공통사항*/
	width: 660px;
	height: 50px; /*임시 높이임 나중에 삭제*/
	margin-right: 50px;
	float: left;
}

.one{
	height: 600px;
	margin-bottom: 30px;
	border: 1px solid #e6e6e6;
}


.oneImg {
	height: 496px;
}

.oneName {
	padding: 0 20px;
	height: 100px;
}

.oneName p:nth-child(2) {
	float: left;
	display: inline-block;
	margin: 0;
}

.oneName p:last-child {
	font-size: 20px;
	float: right;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.two {
	height: 57px;
	margin-bottom: 15px;
}

.alineCenter {
	width: 350px;
	height: 42px;
	margin: 0 auto;
}
.two img {
	float: left;
	
}
.evalNum {
	display: inline-block;
	margin-top: 8px;
	margin-left: 10px;
}

.evalEnp {
	display: inline-block;
	margin-top: 8px;
}



.aside {
	width: 456px;
	height: 2100px; /* 수정할예쩡 */
	float: right;
}

.asideProfile {
	border: 1px solid #e6e6e6;
	height: 1000px;
	padding-top: 25px;
}

.asideProfile > div {
	/*border: 1px solid red;*/
	width: 400px;
	/*margin: 0 auto;*/
	padding: 3px;
}

.ProfileDiv {
	margin: 0 auto;
}

.proImg {
	height: 100px;
	
}

.imgCircle {
	width: 100px;
	height: 100px;
	background: #e6e6e6;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: auto;
	margin-top: 15px;
}
.proName {
	margin-top: 15px;
	margin-bottom: 10px;
}
.proName h2 {
	width: 380px;
	margin: auto;
	text-align: center;
}

.proName div {
	width: 40px;
	height: 2px;
	margin: auto;
	margin-top: 10px;
	background-color: #ffd400;
}

.proTime {
	margin-bottom: 20px;
}

.proTime h5 {
	text-align: center;
	margin: 0;
}
.proCommuni {
	margin-bottom: 15px;
}
.CommuniDiv {
	margin: 0 auto;
	overflow:hidden;
	padding: 0 31%;
	height: 70px;

}

.CommuniDiv .box{
	width: 50%;
	height: 50px;
	float:left;
}

.box a {
	display: block;
}

.proInfo {
	overflow: hidden;
}

.left {
	float: left;
	width: 32%;
}

.left:nth-child(1), .left:nth-child(2) {
	border-right: 1px solid #e6e6e6;
}

.left h5, .left h6 {
	margin: 0;
	text-align: center;
	padding: 2px 25px;
}

.left h6 {
	color: 1px solid #e6e6e6;
}

.prolect {
	border-top: 1px dashed #e6e6e6;
	margin-top: 20px;
}

.prolect h3 {
	margin: 20px 0 10px 0;
	text-align: center;
}

.lectList {
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	height: 150px;
	padding-left: 4.5%;
	padding-top: 4%;
	height: 83px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.subjectBox {
	overflow: hidden;
	padding-left: 12px;
	
}

.subjectBox h5 {
	padding: 0;
	margin: 0;
	margin-bottom: 6px;
	float: left;
}

.imgBox {
	width: 70px;
	height: 70px;
	background: #e6e6e6;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
}

.evalBox {
	float: left;
	padding-left: 11px;
	width: 250px;
}

.evalBox div{
	float: left;
}

.evalBox p {
	float: left;
	margin: 0;
	font-size: 13px;
	padding-left: 5px;
}

.priceBox {
	float: left;
	padding-left: 13px;
	
}

.priceBox p {
	margin: 0;
	font-size: 14px;
}

.asideCost {
	border: 1px solid #e6e6e6;
	margin: 0 auto;
	margin-top: 15px;
}

.asideCost h2 {
	margin: 0;
	padding: 5px 0px 5px 20px;
}









.asidePosition {
	height: 100px;
}

.asideDate {
	height: 100px;
}

.asideMap {
	height: 100px;
}
.footer {
	background-color:#eee;
	width: 1200px;
	height: 100px;
	float: left;
} 



/*
.row {
	margin: 0 auto;
}
.column {
    padding: 10px;
    height: 300px; 
}

.column.middle {
	
    width: 650px;
    float: left;
}

.column.aside {
    width: 440px;
    float: left;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
*/

/*
@media (max-width: 655px) {
    .column.middle {
        width: 100%;
        float: left;
    }
}

@media (max-width: 440px) {
    .column.aside {
        width: 100%;
    }
}
*/