@charset "UTF-8";
.pay-0-img img {
	width:120px;
	height:90px;
}
img {
  border: 0;
}

ul {
  list-style: none;
}

.pay-h2 {
  margin-left: 100px;
}
.pay-boarder {
  width: 1000px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  margin-top: 10px;
  display: block;
  margin-left: 100px;
}

.pay-0 {
  overflow: hidden;
  padding: 20px;
}

.pay-0-left {
  width: 120px;
  height: 100%;
  float: left;
}

.pay-0-right {
  width: 780px;
  height: 100%;
  float: right;
  margin-top: 15px;
}

.pay-0-img {
  width: 120px;
  height: 90px;
  
  border-radius: 10px;
  background-size: 120px 100%;
  /* vertical-align: middle; */
  /* margin-right: 20px; */
}

.order-title {
  padding-bottom: 20px;
}

.pay-nu {
  display: inline-block;
  background-color: #eeeeee;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.trainer-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('../../img/program/man.jpg');
  background-size: 30px 100%;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.pay-0-trainer {}

.order-table {
  clear: both;
  padding-top: 20px;

}
.order-table1 {
  width: 100%;
  border: 0;
  height: 70px;
  border-collapse: collapse;
}
.order-th {
  padding: 13px;
}

.order-td {
  
  text-align: center;
  width: 300px;
  padding: 15px;
}

.order-td span {
  margin: 0px 5px;
}
.order-tr {
  height: 20px;
}
.order-thead {
    border-radius: 3.25em;
    border-bottom: 2px solid #eee;
}

.pay-title {
  background-color: #eeeeee;
  padding: 13px;
}

.auth {
  overflow: hidden;

}

.pay-1-img {
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.pay-1-agr {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 20px;
}

.order-price {
  overflow: hidden;
}

.pay-2-left {
  width: 60%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

.pay-2-right {
  width: 40%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

.pay-2-price {
  color: red;
  font-weight: bold;
  font-size: 30px;
}

.pay-3-type {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 20px;
}

.pay-3-type>ul {
  width: 100% overflow: hidden;
}

.pay-3-type>ul>li {
  display: inline-block;
  float: left;
  text-align: center;
}

li>input {
  margin: 0 10px;
}

.pay-2-right>button {
  margin-left: 100px;
}
.btn-payment {
  background-color: #DD1F26;
  color: #ffffff;
  width: 185px; height: 45px;
  margin:15px 20px 0px 0px;
}

#footer-body>ul>li:nth-child(2n) {
  width: 30px;
}
input[type=radio] {
  transform: scale(1.2);
}
#notice {
  width: 75%;
  float: left;
}

#call {
  width: 25%;
  float: left;
}

.sm-btn-1-small {
  margin: 15px 3px;
}

.pay-button {
  text-align:right;
  margin-right: 60px;
}

.pay-nu {text-decoration: none; color:#000000;}
.pay-nu:link {text-decoration: none; color:#000000;}
.pay-nu:visited {text-decoration: none; color:#000000;}
.pay-nu:active {text-decoration: none; color:#000000;}
.pay-nu:hover {text-decoration: none; color:#000000;}