@charset "UTF-8";

body {
  margin: 0;
}
.sm-container { /* 전체 틀 */
    width: 1200px;
    margin: 0 auto;
}

.sm-container h2{
  margin-bottom: 0;
  font-size: 22px;
}
.sm-margin-none {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#sh_top_layout {
  border-bottom: none!important;
}

#sm-btn-1 { /* 남색 버튼 */
  width:100px;
    background-color: #1B3453;
    border: none;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 3px;
    cursor: pointer;
    border-radius:10px;
}
#sm-btn-2 { /* 빨간색 버튼 */
  width:100px;
    background-color: #DD1F26;
    border: none;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 3px;
    cursor: pointer;
    border-radius:10px;
}


#sm-back { /* 로고 뒷배경 */
  padding-top: 130px;
}
.sm-profile {
border:1px solid gray;
	margin-top: 15px;
    width: 255px;
    padding-top: 20px;
    float:left;
}

.sm-mypage{
    overflow:hidden;
    text-align: center;
}
.sm-mypage-body {
    float:left;
    width:73.5%;
    margin-top:13px;
    margin-left:5%;
    text-align: left;
}

.sm-tab-down {
  height: 250px;
  float: left;
  align: center;
  overflow: auto;
}
.sm-mypage-bar{
    float:left;
    width:70%;
    margin-top:15px;
    margin-left:5%;
    margin-bottom: 15px;
    border:1px solid gray;
    padding: 20px;
}

ul {list-style:none;}
.sm-mypage-bar ul{margin:0;padding:0;}
.sm-mypage-bar ul li{width:33%; display: inline-block; text-align: center;}
.sm-mypage-bar ul li b{display:block;}


/* 상단 메뉴바 */
.sm-top-bar-white {
  top:0px;
  height: 120px;
  width: 100%;
  background-color: white;
  position:fixed;
  display: inline-block;
  border-bottom: 1px solid rgb(102, 102, 102, 0.2);
  z-index: 1;
}

.sm-menubar{
  position: fixed;
  background-color: white;
  z-index: 1;
  top: 70px;
  border:none;
  border:0px;
  margin:0px;
  padding:0px;
  font-size:small;
  font-weight:bold;
}

.sm-menubar ul{
  height:50px;
  list-style:none;
  margin:0;
  padding:0;
}
.sm-menubar li{
  float:left;
  padding:0px;
}
.sm-menubar li a{
  color:black;
  display:block;
  font-weight:normal;
  line-height:50px;
  margin:0px;
  padding:0px 25px;
  text-align:center;
  text-decoration:none;
}
.sm-menubar li a:hover, .sm-menubar ul li:hover {
  color:black;
}

.sm_after:after {
  content: "";
  transition: 0.2s all ease;
  -webkit-backface-visibility: hidden;
  position: absolute;
    bottom: 0.05em;
    height: 0.2rem;
    width: 0;
    background: #1B3453;
}

.sm_after:hover:after {
  width: 110px;
}

.sm-menubar li ul{
  display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
  height:auto;
  padding:0px;
  margin:0px;
  border:0px;
  position:absolute;
  width:200px;
  z-index:200;
  border: 1px solid rgb(102, 102, 102, 0.2);
  background-color: white;
}
.sm-menubar li:hover ul{display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */}
.sm-menubar li li {

  display:block;
  float:none;
  margin:0px;
  padding:0px;
  width:200px;
}
.sm-menubar li:hover li a{background:none;}
.sm-menubar li ul a{
  display:block;
  height:50px;
  font-size:12px;
  font-style:normal;
  margin:0px;
  padding:0px 10px 0px 15px;
  text-align:left;
}
.sm-menubar li ul a:hover, .sm-menubar li ul li:hover a{
  border:0px;
  font-weight: 800;
  text-decoration:none;
}
.sm-menubar p{clear:left;}




/* 왼쪽 아이콘 메뉴 */

.sm-tabcontent {
  padding:10px;
  text-align: left;
}
.sm-profile {
  padding-bottom: 0px;
}

.sm-menu {
  width: 49.28%; height: 100px; border:1px solid gray; padding:0px;
  display: inline-block;
  float: left;
  font-size:small;
  border-right: white;
  border-bottom: white;
}
.sm-menu:hover {
  background-color: #EEEEEE;
}

.sm-menu i {
  margin: 10px;
  font-size:50px;
}
