* {
  margin: 0;
  padding: 0;
  /* do: inherit; */
}

.challenge {
  height: 330px;
  width: 390px;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
}

.challenge-photo {}

.challenge-photo-img {
  width: 100%;
  height: 300px;
  display: block;
}

.challenge a {
  text-decoration: none;
}

.challenge-title {
  position: absolute;
  padding: 10px 0;
  left: 50px;
  bottom: 30px;
}

.challenge-title1 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
}

.challenge-cp {
  left:10px;
  position: absolute;
  top: -10px;
  background: #DD1F26;
  padding: 0px 5px 0px 0px;
  color: #ffffff;
  font-style: italic;
  font-weight: 700;
}

.challenge-photo:hover .challenge-photo-img {
  filter: brightness(130%);
}
