.w3-animate-zoom {
	animation: animatezoom 0.6s;
}
.w3-card4 {
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2), 
	0 4px 20px 0 rgba(0,0,0,0.19);
}

@media (min-width: 993px);
.w3-modal-content {
    width: 900px;
}

..w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.w3-blue, .w3-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important;
}
.w3-container, .w3-panel {
    padding: 0.01em 16px;
}
.w3-xlarge {
    font-size: 24px!important;
}
.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}
.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.w3-border-bottom {
    border-bottom: 1px solid #ccc!important;
}
.w3-bar {
    width: 100%;
    overflow: hidden;
}

.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
}

.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
}

.w3-bar .w3-button {
    white-space: normal;
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

..w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.w3-padding {
    padding: 8px 16px!important;
}

.w3-right {
    float: right!important;
}

.w3-border {
    border: 1px solid #ccc!important;
}