body:not(#footer) {
  background-color: #fafafa;
}

.container {
  box-sizing: border-box;
  position: relative;
  width: 1000px;
}

/* image slide CSS 시작*/

.sh-program-img * {
  position: relative;
  display: inline-block;
}

.sh-slide-edit-btn {
  /* 빨간색 버튼 */
  width: 67px;
  background-color: #DD1F26;
  border: none;
  color: #fff;
  padding: 5px 0;
  position: absolute;
  float: right;
  bottom: 15px;
  right: 15px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 3px;
  cursor: pointer;
  border-radius: 10px;
}

.sh-tl-reply-btn {
  /* 빨간색 버튼 */
  width: 67px;
  background-color: #DD1F26;
  border: none;
  color: #fff;
  padding: 5px 0;
  float: right;
  margin: 20px;
  text-decoration: none;
  font-size: 12px;
  margin: 3px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 8px;
}

}

.sh-program-img {
  width: 100%;
  /*   border: 1px solid rgb(158, 0, 255); */
  height: 320px;
}

/************************************************/

.sh-mySlides {
  display: none
}

.sh-mySlides img {
  vertical-align: middle;
  height: 320px;
}

/* Slideshow container */

.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
  height: 320px;
}

/* Next & previous buttons */

.sh-prev, .sh-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -14px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.sh-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.sh-prev:hover, .sh-next:hover {
  /* background-color: rgba(0,0,0,0.8); */
}

/* Caption text */

.sh-imgSlide-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 118px;
  height: 55px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
}

.sh-imgSlide-text h1 {
  margin-top: 4px;
  display: inline-block;
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */

.sh-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
  .sh-prev, .sh-next, .sh-imgSlide-text {
    font-size: 11px
  }
}

/* image slide CSS 종료*/


#sh-mainContainer:not(#sh-mainContainer *) {
  background-color: gray;
}

#sh-mainContainer:after {
  background-color: white;
  text-align: center;
  display: block;
  clear: both;
}

#shClassDiv {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 3px;
  cursor: pointer;
      font-size: 13px;
}

/* content CSS 시작*/

#sh-contentCol {
  top: 27px;
  left: 27px;
  float: left;
  width: 700px;
  min-height: 800px;
  padding: 0;
  margin: 27px;
}

/* content CSS 끝*/

/* right sideMenu CSS 시작*/

#sh-sideMenu {
  top: 217px;
  width: 200px;
  min-height: 300px;
  position: fixed;
  overflow: hidden;
  margin-left: 734px;
}

#sh-sideMenu-item {}

/* right sideMenu CSS 끝*/

/* Class-Daily CSS 시작 */

#sh-class-more {
  display: none;
}

.sh-Class-Contents {
  padding: 20px 20px 0px 20px;
  background-color: black;
  opacity: 0.6;
}

#sh-Class-Title {
  text-align: center;
}

#sh-Class-Daily {
  width: 936px;
  z-index: 1000;
  border-radius: 2px;
  
}

#sh-class-more {
    width: 100%;
}

.sh_class_daily_sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#sh-Class-Daily-item * :not(#shClassDiv) {
  color: white;
  margin: 0;
  padding-bottom: 13px;
}

/* Class-Daily CSS 끝 */

/* 타임라인 시작*/

/* 카드 공통 CSS 시작 */

.sh-tl-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
}

.sh-tl-card-primary, .sh-tl-card-reply-write, .sh-tl-card-reply-load {
  padding: 6px 6px 0px 6px;
}

.sh-tl-card-reply-load {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.sh-tl-card-header {
  display: inline-block -webkit-box-align: center;
  align-items: center;
}

.sh-card {
  margin-bottom: 16px;
}

.sh-tl-card-content {
  min-height: 22px;
  padding: 0px 59px 20px 21px;
}

.sh-tl-card-content-inside {
  margin: 0 overflow: hidden;
  word-wrap: break-word;
}

.sh-tl-card-header .sh-tl-card-content {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sh-tl-card-header .sh-tl-card-content * {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sh-tl-subtitle {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  text-decoration: inherit;
  text-transform: inherit;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 41px;
  position: absolute;
  color: #666666;
  top: 9px;
  left: 32px;
  width: 100%;
  cursor: pointer;
}

/* 글작성 히든 CSS 시작 */

.sh-tl-review-write {
  width: 91%;
  /* float: right; */
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.sh_tl_reply_textarea {
  margin-left: 15px !important;
  border: 1px solid gray !important;
  border-radius: 18px;
  padding-left: 17px !important;
  padding-top: 10px;
}

.sh-tl-reply-content {
  margin-left: 15px !important;
  border: 1px solid gray !important;
  border-radius: 18px;
  padding-left: 17px !important;
  padding-right: 17px;
  padding-top: 10px;
  display: inline-block;
}

.sh-tl-replay-textarea:focus {
  border: 1px solid gray !important;
  border-radius: 18px;
}

textarea:focus {
  outline: none;
}

.sh-tl-review-title {
  font-family: "NanumSquareRound";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: normal;
  resize: none;
  border: none;
  display: inline-block;
  width: 77%;
  overflow-y: hidden;
  margin-left: 72px;
  padding-right: -11px;
  height: 26px;
}

.sh-tl-review-content {
  font-family: "NanumSquareRound";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: normal;
  resize: none;
  border: none;
  overflow-y: hidden;
  margin-left: 72px;
  padding-right: -11px;
  height: 26px;
}

/* 글작성 히든 CSS 종료 */

.sh-tl-user {
  position: relative;
  padding: 7px;
}

.sh-tl-card-actions {
  height: 30px;
  display: inline;
}

.sh-tl-user-circle {
  color: #666666;
  font-size: 52px;
}

.sh-tl-user-name {
  position: absolute;
  color: #000;
  top: 0px;
  left: 73px;
  font-size: 16px;
}

.sh-tl-post-date {
  margin-bottom: 0px;
  margin-left: 13px;
  margin-top: 0px;
  display: inline-block;
  position: relative;
  bottom: 6px;
}

.sh-tl-like-count a, .sh-tl-card-bottom div a {
  color: #000;
  text-decoration: none;
}

.sh-tl-post-edit {
  display: none;
  right: 48px;
  position: absolute;
  top: 16px;
  font-size: 12px;
  font-weight: 100;
  color: #666666;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.sh-tl-post-delete {
  display: none;
  /*display: inline-block;*/
  position: absolute;
  right: 11px;
  top: 16px;
  font-size: 12px;
  font-weight: 100;
  color: #666666;
  cursor: pointer;
}

/* 카드 공통 CSS 종료 */

/* 글쓰기 카드 CSS 시작*/

/* modal effect */

/* The Modal (background) */

.sh-tl-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#images-div img {
  width: 100%;
}

#images-div-edit img {
  width: 100%;
}

/* Modal Content/Box */

.sh-tl-modal-content {
  background-color: #fefefe;
  margin: 15% 25.2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 34.6%;
  display: inline-block;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */

.sh-tl-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.sh-tl-modal-close:hover, .sh-tl-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 글쓰기 카드 CSS 종료*/

/* 다른사람 카드 CSS 시작 */

.sh-tl-card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.sh-tl-card-bottom-items {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  /* background-color: #DD1F26; */
}

.sh-tl-card-bottom-items a {
  display: list-item;
  list-style: none;
  padding: 9px;
}

.sh-tl-like-count {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* 다른사람 카드 CSS 종료 */

/* 대댓글 CSS 시작 */

.sh-tl-reply-user {
  position: relative;
  left: 1%;
  /* display:inline-block; */
}

.sh-tl-reply-write {
  position: absolute;
  color: #666666;
  top: -4px;
  left: 67px;
  font-size: 16px;
}

.sh-tl-reply-user-circle {
  color: #666666;
  font-size: 40px;
  float: left;
}

.sh-tl-user-img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
}

div[contenteditable=true] {
  border: 1px solid #ddd;
  color: #333;
  font-size: 12px;
  width: 300px;
  padding: 5px;
}

#sh-tl-post-btn, #sh-tl-edit-btn {
  padding-top: 6px !important;
  margin-top: 9px !important;
  float: right;
  /* display: inline-block; */
  /* margin-left: 32px; */
  width: 60px;
  background-color: #DD1F26;
  border: none;
  color: #fff;
  margin-top: 10px;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 3px;
  cursor: pointer;
  /* height: 34px; */
  border-radius: 10px;
}

#sh-tl-upload {
  padding: 9px;
  font-size: 31px;
}

#sh-tl-post-img-btn {
  float: right;
  font-size: 25px;
  margin-right: 16px;
  margin-top: 10px;
}

.sh-tl-img-upload-lb {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.sh-tl-img-upload-lb {
  padding: 6px;
  display: inline-block;
  position: relative;
  font-size: 26px;
}

.sh-tl-img-upload {
  display: inline-block;
  position: relative;
  /* float: right; */
  font-size: 26px;
}

.sh-tl-review-load-cont {
  margin-left: 15px !important;
  border: 1px solid gray !important;
  border-radius: 18px;
  padding-left: 17px !important;
  padding-top: 10px;
}

.sh-tl-review-load {
  width: 86%;
  position: relative;
  display: inline-block;
}

.sh-cmt-name {
  color: blue;
}

.sh-cmt-date {
  font-size: 9px;
  position: relative;
  left: 68px;
  display: block;
  bottom: 8px;
}

.sh-tl-cmt-edit {
  display: none;
  position: relative;
  top: -12px;
  font-size: 12px;
  font-weight: 100;
  color: #666666;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.sh-tl-cmt-delete {
  display: none;
  position: relative;
  top: -12px;
  font-size: 12px;
  font-weight: 100;
  color: #666666;
  cursor: pointer;
}

.sh-tl-cmt-edit-btn {
  width: 67px;
  background-color: #DD1F26;
  border: none;
  color: #fff;
  padding: 5px 0;
  float: right;
  position: relative;
  margin: 20px;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  margin: 3px;
  cursor: pointer;
  right: 29px;
  top: 4px;
  border-radius: 10px;
}

.sh-cmt-content {
  margin-left: 2px;
}

.userInfoInput {
  display: none;
}

.sh-tl-user-circle {
  display: "none";
}

/* 대댓글 CSS 종료 */

/* 타임라인 끝*/

/* 사이드바 CSS 시작 */

/* 사이드바 CSS 종료 */
