@charset "UTF-8";

header { height: 60px; background-color: black;
  opacity: 0.7;
	position: fixed;
	width: 100%;
 }
header > h1 { margin: 0px auto;
	width: 1200px;
	padding: 0 100px;
	color: white;}

.main-width {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1200px;
}

.img-black {
  background-color: black;
  color: white;
}

#main-img {
	background: url('../img/main.jpg');
  height: 600px; width: 1200px;
  margin: 0 auto;
}
.main-title { height: 80px; text-align: center;
  margin: 0 auto;
   display: table-cell;
   width: 100vw;
   vertical-align: middle;
}

#content { margin: 50px 0px; overflow: hidden;}
.main-project {float: left; border: 1px solid black;
    width:250px;
    position: relative;
    overflow: hidden;
}
.main-project:nth-child(1){}
.main-project-height { height: 300px;
}

.line-table {
  display: table;
}
.line-20 {
  display: table-cell;
  text-align: center;
  width: 20vw;
}
.line-25 {
  padding: 1% 1%;
  display: table-cell;
  text-align: center;
  width: 25vw;
}
.line-33 {
  display: table-cell;
  text-align: center;
  width: 33.33vw;
}
#bn { height: 100px;}
.ico-size { font-size: 48px; margin-top: 20px;}

#sports { background-color: #d6c0c0;}
#sports-cp { width: 750px; margin: 0 auto;
  }
.sports-cp-0 { border: 1px solid black;
  display: table-cell;
  vertical-align: middle;
  width: 150px; height: 100px;}

#chal { height: 170px;}

#business { height: 250px; overflow: hidden;}
.bus-left {float: left; width: 750px; padding: 20px;}
.bus-right { margin-top: 30px; margin-right:30px; width: 400px;
  float: right;}

#news { height: 250px; overflow: hidden;}
.ns-left {float: left; width: 550px; }
.ns-right { width: 600px;
  float: right;}


*{margin:0;padding:0;}
	ul,li{list-style:none;}
	#slide{height:400px;position:relative;overflow:hidden;}
	#slide ul{width:400%;height:100%;transition:1s;}
	#slide ul:after{content:"";display:block;clear:both;}
	#slide li{float:left;width:25%;height:100%;}
	#slide li:nth-child(1){background:#faa;}
	#slide li:nth-child(2){background:#ffa;}
	#slide li:nth-child(3){background:#faF;}
	#slide li:nth-child(4){background:#aaf;}
	#slide input{display:none;}
	#slide label{display:inline-block;vertical-align:middle;width:10px;height:10px;border:2px solid #666;background:#fff;transition:0.3s;border-radius:50%;cursor:pointer;}
	#slide .pos{text-align:center;position:absolute;
    bottom:10px;left:0;width:100%;text-align:center;}
	#pos1:checked~ul{margin-left:0%;}
	#pos2:checked~ul{margin-left:-100%;}
	#pos3:checked~ul{margin-left:-200%;}
	#pos4:checked~ul{margin-left:-300%;}
	#pos1:checked~.pos>label:nth-child(1){background:#666;}
	#pos2:checked~.pos>label:nth-child(2){background:#666;}
	#pos3:checked~.pos>label:nth-child(3){background:#666;}
	#pos4:checked~.pos>label:nth-child(4){background:#666;}
