html, body, ul, li, button {
  margin: 0;
  padding: 0;
}
.slide-1 {
  display: block;
  border: 0;
  width: 600px;
  height: 200px;
  background-color: red;
}
.slide-2 {
  display: block;
  border: 0;
  width: 600px;
  height: 200px;
  background-color: orange;
}
.slide-3 {
  display: block;
  border: 0;
  width: 600px;
  height: 200px;
  background-color: yellow;
}
.slide-4 {
  display: block;
  border: 0;
  width: 600px;
  height: 200px;
  background-color: green;
}
.slide-5 {
  display: block;
  border: 0;
  width: 600px;
  height: 200px;
  background-color: blue;
}
button {
  border: 0;
  background: none;
}

.slide {
  width: 600px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}


.slide ul {
  width: 3000px;
  list-style: none;
  font-size: 0px;
}

 .slide ul li {
  display: inline-block;
}

.slide button.prev {
  position: absolute;
  left: 0;
  top: 120px;
}

.slide button.next {
  position: absolute;
  right: 0;
  top: 120px;
}
