* {
  margin: 0;
  padding: 0;
  /* border: 0;
	font-size: 100%; */
  /* do: inherit; */
  /* vertical-align: baseline; */
}

.card {
  height: 300px;
  width: 250px;
  display: inline-block;
  box-sizing: border-box;
  /* margin-top: 30px; */
  /* margin-left: 30px; */
  /* margin-botto m: 30px; */
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* overflow: hidden; */
  /* margin-right: 20px; */
}

.card-header {
  /* transition: 0.5s; */
  width: 100%;
  height: 170px;
  background-image: url("../img/man.jpg");
  background-size: 100% 270px;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.card-header-is_closed {
  margin: 10px 0 0 10px;
  width: 50px;
  background-color: red;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  float: left;
  padding: 10px 10px;
  /* line-height: 20px; */
}

.card-trainer {
  opacity: 1;
  position: absolute;
  top: 120px;
  right: 10px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-image: url("../img/man.jpg");
  background-size: 60px 100%;

}

.card-body {
  height: 100%;
}

.card-body-header {
  /* line-height: 25px; */
  padding: 10px 10px 0px 10px;
  height: 130px;
}

.card-body-local {
  float: left;
  margin-right: 20px;
}

.card-body-numger {
  float: left;
}

.card-body-description {
  box-sizing: border-box;
  font-weight: 700;
  position: absolute;
  opacity: 0;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 260px;
  background-color: rgba( 255, 255, 255, 0.7);
  overflow: hidden;
}

p.card-body-description {
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}

.card:hover .card-trainer {
  /* opacity: 0.5; */
}

.card:hover .card-body-description {
  opacity: 1;
  /* transition : .5s ease-in-out; */
  /* overflow-y: scroll; */
}

.card:hover .ribbon {
  opacity: 0.3;
  /* transition : .5s ease-in-out; */
}

.card-body-hashtag {
  /* color: #2478FF; */
  /* font-style: italic; */
}

.card-body-footer {
  box-sizing: border-box;
  position: absolute;
  height: 30px;
  bottom: 0;
  width: 100%;
  /* font-size: 14px; */
  padding: 0 10px;
}

.icon {
  /* display: inline-block; */
  vertical-align: middle;
  /* margin-right: 2px; */
}

.icon-review {
  /* width: 25px; */
  /* height: 17px; */
  /* background: url("images/eye.jpg") no-repeat; */
}

.icon-count {
  /* margin-left: 5px; */
  /* width: 25px; */
  /* height: 17px; */
  /* background: url("images/comment.jpg") no-repeat; */
}

.reg_date {
  float: right;
}

.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  /* display: block; */
}

blockquote, q {
  /* quotes: none; */
}

blockquote: before, blockquote: after, q: before, q: after {
  /* content: ''; */
  /* content: none; */
}

h1 {
  /* font-size: 22px; */
  /* font-weight: bold; */
}
