html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  height: 90vh;
}

.card {
  background: #fff;
  width: 18em;
  height: 15em;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transform: scale(1, 0.4);
          transform: scale(1, 0.4);
  cursor: pointer;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-clip {
  position: relative;
  width: 18em;
  height: 15em;
  -webkit-clip-path: inset(32% 0 32% 0);
  clip-path: inset(32% 0 32% 0);
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-clip.expanded {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.card.expanded {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.duarte-wrapper {
  width: 7.9em;
  height: 7.9em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 3.5em;
  left: 11em;
  overflow: hidden;
  -webkit-clip-path: circle(40% at 50% 50%);
  clip-path: circle(40% at 50% 50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.6, 0.6);
          transform: scale(0.6, 0.6);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.duarte {
  width: 7.9em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.duarte-wrapper.expanded {
  -webkit-clip-path: circle(70.7% at 50% 50%);
  clip-path: circle(70.7% at 50% 50%);
  -webkit-transform: scale(1, 1) translate(-10.1em, 2.5em);
          transform: scale(1, 1) translate(-10.1em, 2.5em);
}

.name-info {
  font-size: 1.25em;
  position: absolute;
  color: #4f4f4f;
  top: 5em;
  left: 0.8em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.name-info span {
  display: block;
  font-size: 0.65em;
  color: #c4c4c4;
  margin-top: 0.4em;
}

.name-info.expanded {
  -webkit-transform: translateY(-4em);
          transform: translateY(-4em);
}

.duarte2 {
  width: 7.9em;
  background: blue;
  position: absolute;
}

.card-expanded-content {
  position: absolute;
  left: 9.3em;
  top: 14em;
  -webkit-transition: opacity 0s, -webkit-transform 0.5s;
  transition: opacity 0s, -webkit-transform 0.5s;
  transition: opacity 0s, transform 0.5s;
  transition: opacity 0s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
  opacity: 0;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-expanded-content.expanded {
  -webkit-transform: translateY(-8em) scale(1, 1);
          transform: translateY(-8em) scale(1, 1);
  opacity: 1;
}

.next {
  position: absolute;
  width: 1.5em;
  height: 5.2em;
  background: rgba(0, 0, 0, 0.25);
  left: 9.5em;
  top: 2.4em;
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  opacity: 0;
  pointer-events: auto;
  -webkit-transition: opacity 0s, -webkit-transform 0.5s 0s;
  transition: opacity 0s, -webkit-transform 0.5s 0s;
  transition: opacity 0s, transform 0.5s 0s;
  transition: opacity 0s, transform 0.5s 0s, -webkit-transform 0.5s 0s;
  cursor: pointer;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.next.expanded {
  opacity: 1;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  -webkit-transition: opacity 0s, -webkit-transform 0.5s 0.2s;
  transition: opacity 0s, -webkit-transform 0.5s 0.2s;
  transition: opacity 0s, transform 0.5s 0.2s;
  transition: opacity 0s, transform 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
}

.card-expanded-content.slide {
  -webkit-transform: translate(-20em, -8em);
          transform: translate(-20em, -8em);
}

.duarte-wrapper.slide {
  -webkit-transform: translate(-20em, 2.5em);
          transform: translate(-20em, 2.5em);
}

.right {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.right.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.quote {
  position: absolute;
  top: 1em;
  left: 14em;
  width: 11em;
  text-align: center;
  color: #ABABAB;
}

.social {
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1.5em;
  opacity: 0;
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}

.social.expanded {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.social i {
  padding: 0.2em;
}

.facebook {
  color: #4267b2;
}

.twitter {
  color: #2196F3;
}



@media screen and (min-width: 70em) {
  body {
    font-size: 110%
  } 
}


@media screen and (min-width: 80em) {
  body {
    font-size: 130%
  } 
}

@media screen and (min-width: 100em) {
  body {
    font-size: 170%
  } 
}

@media screen and (min-width: 120em) {
  body {
    font-size: 200%
  } 
}

@media screen and (min-width: 140em) {
  body {
    font-size: 250%
  } 
}

@media screen and (min-width: 160em) {
  body {
    font-size: 300%
  } 
}