
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

body {
    font-family: 'NanumSquareRound',sans-serif !important;
}


    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }


a.findpw {
    color:black;
}
a.findpw:hover {
    opacity: 0.8;
    color:#DD1F26;
    /* text-decoration:none; */
}

a.memberforms, a.trainerforms {
    color:#2E2EFE;
}
a.memberforms:hover, a.trainerforms:hover {
    opacity: 0.8;
    color:#DD1F26;
    /* text-decoration:none; */
}


button.btn {
	background:#dd1f26;
	color:#ffffff;
	border:#dd1f26;
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 70px;
}
    
.omb_login .omb_socialButtons a {
    color: white; /* // In yourUse @body-bg  */
    opacity:0.9;
    
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;      
}

.omb_login .omb_socialButtons {
    /* border:solid red; */
    width: 700px;
    margin:0 auto;
}

/*버튼 부분*/

.omb_login .omb_socialButtons .omb_btn-facebook {background:#3b5998; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          margin-right: 15px}
.omb_login .omb_socialButtons .omb_btn-facebook:hover {background: #6b1301}
.omb_login .omb_socialButtons .omb_btn-facebook:focus {background: #fff; color:#3b5998; border-color: #3b5998;}

.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          margin-right: 15px}
.omb_login .omb_socialButtons .omb_btn-twitter:hover {background: #6b1301}
.omb_login .omb_socialButtons .omb_btn-twitter:focus {background: #fff; color:#00aced; border-color: #00aced;}

.omb_login .omb_socialButtons .omb_btn-kakao {background: #F7FE2E; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          margin-right: 15px;}
.omb_login .omb_socialButtons .omb_btn-kakao:hover {background: #6b1301}
.omb_login .omb_socialButtons .omb_btn-kakao:focus {background: #fff; color: #F7FE2E; border-color: #F7FE2E;}



.omb_login .omb_loginOr {
    position: relative;
    font-size: 24px;
    color: #aaa;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -24px;
    background-color: #ffffff;
    width: 48px;
    text-align: center;
    font-size: 30px;
}           

.omb_login .omb_loginForm .input-group.i {
    width: 32px;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
} 

label.form-check-label {
	padding-left: 50px;
}

 a.trainerforms {
	 margin-left: 45px;
	 
}

 
    

    .omb_login .omb_forgotPwd {
        /* text-align: right; */
        /* margin-top:10px; */
    }       

.container {
    border: solid red;
    /* margin: auto; */
    /* padding: 0 50px; */
    /* border:solid red; */

    
}

.omb_login {
    /* /* background: #eeeeee; 
    margin: 30px 50px;
    border-radius: 20px; */
    border:dashed yellow;
    padding: 30px;

}

#footer {
    /* border:solid red; */
   bottom: 0;
    position: fixed;
    width: 100%;
}

