
.off-screen {
    display: none;
}
/*
#nav {
    width: 500px;
    text-align: center;
}
#nav a {
    display: inline-block;
    padding: 3px 5px;
    margin-right: 10px;
    font-family:Tahoma;
    background: #ccc;
    color: #000;
    text-decoration: none;
}
#nav a.active {
    background: #333;
    color: #fff;
}
.sm-pagination-button-end {
  border-right: 1px solid #ddd;
}
.sm-pagination-side {
  color:#ddd;
  border: none;
}
*/


.sm-pagination { /* 하단 페이지 바 */
  width: 100%;
  text-align: center;
  font-size: 0;
  margin: 20px 0;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.sm-pagination a {
  display: inline-block;
  border: 1px solid #ddd;
  border-right: none;
  width: 42px;
  height: 22px;
  color: #666;
  font-size: 13px;
  margin: 10px 0px;
  padding-top: 10px;
  text-decoration: none;
}

.sm-pagination a:last-child {
  border-right: 1px solid #ddd;
}


.sm-pagination a.active {
    background-color: #728aa7;
    color: white;
}

.sm-pagination a:hover:not(.active) {background-color: #eee;}