/*명예의 전당 페이지 : class 이름 앞에 hf- 붙이기*/
 @charset "UTF-8";


* {
  box-sizing: border-box;
  
}

.jumbotron-heading {
  font-size: 25px;
  font-weight: bold;
  color: #1B3453;

}

.all-form {
  display: inline-block;
}

main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}



.board-form{
  padding:2rem 2rem 0 0; background-color:white;

 }

.jh-album { /*사이드바 왼쪽 */
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width:900px;
    float:left;
}




/* 사이드바 컨텐츠 메뉴 css 시작지점*/
.hf-sidebar { /* 사이드바 전체*/
  width:300px;
  height: 1200px;
  float: right;
  padding: 10px;
  overflow: hidden;
}
.notice-table {
  border: solid 1px rgb(166, 166, 164);
  margin-top:20px;
  padding: 5px 10px 10px 10px;
}
.rank-list {
  border: solid 1px rgb(166, 166, 164);
  padding: 5px 10px 10px 10px;
}
#notice-table {
  width:100%;
  border-spacing:0;
  padding:0;
}
.jh-allview {
  position: absolute;
  top: 195px;
  right: 50px;
}
#notice-table > tbody > tr > td {
  height:30px;
  border-bottom:1px dashed #eee;
}
#notice-table > tbody > tr > td > span {
  color: #666; font-size: 13px; letter-spacing: -0.5px; line-height: 1.4;
}
/* 사이드바 컨텐츠 메뉴 css 끝지점*/
.card-text{
	    margin-bottom: 0.5rem;
}
.card-content>ul{padding:3px;}
.card-content>ul>li {
  color: #6c757d!important;
  display:inline; /* 세로나열을 가로나열로 변경 */
  border-left:1px solid #999; /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
  font:bold 12px Dotum; /* 폰트 설정 - 12px의 돋움체 굵은 글씨로 표시 */
  padding:0 3px; /* 각 메뉴 간격 */ }
.card-content>ul>li:first-child{border-left:none;}
.btn-group > small {
	margin-left: 0.5rem;
	font-size:15px;
	padding-top: 0.8rem;
}
.d-flex {
	padding-left:3rem;
}
